body {
    background-color:rgb(180, 180, 180);
    font-family: Arial;
}
#titulo {
    text-align: center;
    color: blue;

}
p {
    color: red;
    font-size: 20px;
}
.destaque {
    background-color: yellow;
    padding: 10px;
}
.box {
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    margin-top: 40px;
}